<article class="article-contacto">
  <h1 class="title">Contacto</h1>

  <h2 class="subtitle">Ubicación</h2>
  <div class="contacto-localization">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d28415.232529050503!2d-3.031803685452664!3d43.34030531472017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1715554541790!5m2!1ses!2ses"
      width="600"
      height="450"
      style="border: 2px solid #ccc; border-radius: 10px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="contacto-map"
    ></iframe>
  </div>

  <h2 class="subtitle">Escríbenos</h2>
  <div class="contacto-form">
    <form id="hidden-form-contact" name="contact-form" method="POST" data-netlify="true" data-netlify-honeypot="bot-field" style="display: none;">
      <input type="hidden" name="form-name" value="contact-form" />
      <div class="form-group">
        <input type="text" name="name" />
        <input type="email" name="email" />
        <textarea name="comment"></textarea>
      </div>
      <button type="submit" aria-label="Submit">Enviar</button>
    </form>

    <form class="form-contacto" name="contact-form" @submit.prevent="submitFormContact">
      <div class="form-group-contact">
        <div class="input-group-control-error">
          <div class="input-group">
            <label for="name">Nombre</label>
            <input
              v-model="formDataContact.name"
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Florencia"
            />
            <small v-if="errors.name" class="error">{{ errors.name }}</small>
          </div>
        </div>
        <div class="input-group-control-error">
          <div class="input-group">
            <label for="email">Mail</label>
            <input
              v-model="formDataContact.email"
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="tumail@gmail.com"
            />
            <small v-if="errors.email" class="error">{{ errors.email }}</small>
          </div>
        </div>
        <div class="input-group">
          <label for="comment">Comentario</label>
          <textarea
            v-model="formDataContact.comment"
            type="text"
            id="comment"
            name="comment"
            rows="6"
            cols="50"
          >
          </textarea>
        </div>
      </div>
      <button type="submit" class="button-form" aria-label="Submit">Enviar</button>
    </form>
  </div>
</article>
