<article class="article-contacto">
  <h1 class="title">Contacto</h1>

  <h2 class="subtitle">Ubicación</h2>
  <div class="contacto-localization">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d28415.232529050503!2d-3.031803685452664!3d43.34030531472017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1715554541790!5m2!1ses!2ses"
      width="600"
      height="450"
      style="border: 2px solid #ccc; border-radius: 10px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="contacto-map"
    ></iframe>
  </div>

</article>
