<article class="article-dash">
    <h1 class="title">Rubros de Gastos</h1>
    <h2 class="subtitle">Últimos 10 Gastos</h2>
  <div class="centro">
    <div class="izquierda">
      <canvas id="expensesChart"></canvas>
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Rubro</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(gasto, index) in ultimosGastos" :key="index">
            <td>{{ gasto.fecha }}</td>
            <td>{{ gasto.categoria }}</td>
            <td>$ {{ gasto.monto }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="derecha">
      <h2>Gráfico de Tendencias</h2>
      <canvas id="trendChart"></canvas>
      <h2>Filtrar por Rubro</h2>
      <ul>
        <li
          v-for="categoria in categorias"
          :key="categoria"
          @click="filtrarPorCategoria(categoria)"
        >
          {{ categoria }}
        </li>
      </ul>
    </div>
  </div>

</article>
