<article>
        <div class="centro">
            <div class="izquierda">
                <h2>Rubros de Gastos</h2>
                <canvas id="expensesChart"></canvas>
                <h2>Últimos 10 Gastos</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Rubro</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(gasto, index) in ultimosGastos" :key="index">
                            <td>{{ gasto.fecha }}</td>
                            <td>{{ gasto.categoria }}</td>
                            <td>$ {{ gasto.monto }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="derecha">
                <h2>Gráfico de Tendencias</h2>
                <canvas id="trendChart"></canvas>
                <h2>Filtrar por Rubro</h2>
                <ul>
                    <li v-for="categoria in categorias" :key="categoria" @click="filtrarPorCategoria(categoria)">
                        {{ categoria }}
                    </li>
                </ul>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</article>
