<article class="article-home px-0">
  <div class="home-container">
    <div class="image-home">
      <div class="text-home">
        <h1>¡Bienvenido a AhorroFácil!</h1>
        <h2 class="subtitle">
          La mejor aplicación de control de gastos familiares.
        </h2>
      </div>
    </div>
    <div class="home-app-container">
      <div class="home-image-left"></div>
      <div class="home-description">
        <p class="home-description-text">
          Con nuestra aplicación, gestionar tus gastos nunca ha sido tan fácil.
          Diseñada para ofrecerte una experiencia intuitiva y completa, nuestra
          aplicación te permite llevar un registro detallado de tus gastos,
          realizar un seguimiento de su evolución a través de un práctico panel
          de control y modificar la información según tus necesidades.
        </p>

        <p class="home-description-text">
          Una de las características destacadas de nuestra aplicación es la
          capacidad de subir imágenes de tickets y recibos, lo que te permite
          tener un registro visual de tus gastos y mantener una mayor
          organización.
        </p>
      </div>
    </div>

    <div class="home-app-container">
      <div class="home-description">
        <p class="home-description-text">
          Además nuestra aplicación no solo brinda un sistema de registro e
          inicio de sesión seguro para acceder a tu cuenta personalizada y
          gestionar tu perfil de forma sencilla y segura, sino que también
          ofrece control de modo de tema y total responsividad, garantizando una
          experiencia óptima en cualquier dispositivo y pantalla.
        </p>

        <p class="home-description-text">
          Únete a nosotros y descubre cómo nuestra aplicación puede ayudarte a
          llevar un mejor control de tus gastos familiares. ¡Comienza hoy mismo
          y toma el control de tus finanzas!
        </p>
      </div>
      <div class="home-image-right"></div>
    </div>
  </div>
</article>
