/** MAIN VARIABLES **/

/** Theme - Light **/
:root {
  --main-scheme-color: #49a7e9;
  --main-highlight-color: goldenrod;
  --main-modals-background: rgba(0,0,0,0.4);
  --main-modals-border: #888;

  --background-color: #ffffff;
  --text-color: #000000;
  --toggle-text-home: goldenrod;
  --toggle-link-hover-color: navy;
  --toggle-button-mode-color: rgba(52, 53, 54, 0.75);
  --toggle-button-mode-background: rgba(255, 255, 0, 0.71);
}

/** Theme - Dark **/
.darktheme {
  --background-color: #303030;
  --text-color: #ffffff;
  --toggle-text-home: #ffffff;
  --toggle-link-hover-color: goldenrod;
  --toggle-button-mode-color: rgba(255, 255, 0, 0.71);
  --toggle-button-mode-background: rgba(52, 53, 54, 0.75);
  /* --toogle-highlight-nav-section: rgba(15, 102, 189, 0.75); */

}

/** RESET DEFAULTS **/
* {
  box-sizing: border-box;
  margin: 0;
  cursor: default;
}