/* Estilos generales */
body {
  font-family: Arial, sans-serif; /* Establece la fuente predeterminada para el texto del cuerpo */
  margin: 0; /* Elimina los márgenes predeterminados */
  padding: 0; /* Elimina el relleno predeterminado */
}

/* Header */
header {
  background-color: #c7c7c7; /* Establece el color de fondo del encabezado */
  padding: 20px; /* Agrega un espaciado interno al encabezado */
  display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos secundarios */
  justify-content: flex-end; /* Alinea los elementos del encabezado a la derecha */
  align-items: center; /* Alinea verticalmente los elementos del encabezado */
}

.header-container {
  display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos secundarios */
  align-items: center; /* Alinea verticalmente los elementos del contenedor del encabezado */
  margin-right: 30px; /* Agrega un margen derecho al contenedor del encabezado */
}

.header-container h1 {
  margin-right: 30px; /* Agrega un margen derecho al título del encabezado */
}

/* Main */
main {
  display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos secundarios */
  padding: 20px; /* Agrega un espaciado interno al contenido principal */
}

/* Footer */
footer {
  background-color: #c7c7c7; /* Establece el color de fondo del pie de página */
  padding: 20px; /* Agrega un espaciado interno al pie de página */
}

.footer-container {
  display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos secundarios */
  justify-content: space-between; /* Distribuye uniformemente los elementos secundarios a lo largo del contenedor */
  align-items: center; /* Alinea verticalmente los elementos secundarios */
  margin-right: 30px; /* Agrega un margen derecho al contenedor del pie de página */
}

.redes-sociales img {
  width: 30px; /* Establece el ancho de las imágenes de redes sociales */
  margin-left: 5px; /* Agrega un margen izquierdo a las imágenes de redes sociales */
}
/*Fin Footer*/


/*Inicio Estilos Formulario de Registro*/ 
.body-container {
  background-color: white; /* Establece el color de fondo del contenedor del cuerpo */
  border: 1px solid #ccc; /* Agrega un borde alrededor del contenedor del cuerpo */
  border-radius: 5px; /* Agrega un radio de borde al contenedor del cuerpo */
  padding: 20px; /* Agrega un espaciado interno al contenedor del cuerpo */
  flex: 3; /* Establece la flexibilidad del contenedor del cuerpo */
}

form {
  display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos secundarios del formulario */
  flex-direction: column; /* Establece la dirección de la disposición de los elementos secundarios como columna */
}

.contenedor-general {
  display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos secundarios */
  justify-content: space-between; /* Distribuye uniformemente los elementos secundarios a lo largo del eje principal */
  flex-direction: column; /* Establece la dirección de la disposición de los elementos secundarios como columna */
}

@media screen and (min-width: 768px) {
  .contenedor-general {
    flex-direction: row; /* Cambia la dirección de la disposición de los elementos secundarios a fila en pantallas más grandes */
  }
}

.contenedor-izquierdo,
.contenedor-derecho {
  flex: 1; /* Establece la flexibilidad de los contenedores izquierdo y derecho */
}

.input-group {
  margin-bottom: 10px; /* Agrega un margen inferior a los grupos de entrada */
}

label {
  display: block; /* Convierte las etiquetas en elementos de bloque */
  margin-bottom: 5px; /* Agrega un margen inferior a las etiquetas */
  font-weight: bold;
}

input {
  padding: 10px; /* Agrega un relleno alrededor del campo de entrada */
  border: 1px solid rgb(85, 85, 85); /* Agrega un borde alrededor del campo de entrada */
  border-radius: 5px; /* Agrega un radio de borde al campo de entrada */
  width: 70%; /* Establece el ancho del campo de entrada */
  margin-bottom: 20px;
}

#aceptar-terminos {
  width: 20px; /* Establece el ancho del checkbox para aceptar términos */
}

.checkbox {
  display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos secundarios */
  justify-content: center; /* Centra los elementos secundarios horizontalmente */
}

.input-group a {
  text-decoration: none; /* Elimina la decoración de texto de los enlaces */
  color: #007bff; /* Establece el color del texto de los enlaces */
  margin-left: 5px; /* Agrega un margen izquierdo a los enlaces */
}

#cuenta-nueva {
  text-decoration: none; /* Elimina la decoración de texto de los enlaces */
  color: #007bff; /* Establece el color del texto de los enlaces */
  margin-left: 5px; /* Agrega un margen izquierdo a los enlaces */
}

#cuenta-nueva:hover {
  text-decoration: underline; /* Subraya los enlaces al pasar el mouse */
}

.input-group a:hover {
  text-decoration: underline; /* Subraya los enlaces al pasar el mouse */
}

.botones {
  display: flex; /* Utiliza el modelo de caja flexible para organizar los botones */
  justify-content: space-between; /* Distribuye uniformemente los botones a lo largo del contenedor */
}

.botones button {
  background-color: #555; /* Establece el color de fondo de los botones */
  color: white; /* Establece el color del texto de los botones */
  padding: 10px 20px; /* Agrega un relleno interno a los botones */
  border: none; /* Elimina el borde de los botones */
  border-radius: 5px; /* Agrega un radio de borde a los botones */
  cursor: pointer; /* Cambia el cursor a una mano al pasar sobre los botones */
  margin-right: 10px; /* Agrega un margen derecho a los botones */
}

.botones button:hover {
  background-color: #777; /* Cambia el color de fondo de los botones al pasar el mouse */
}

/* Imagen derecha */
.imagen {
  flex: 2; /* Establece la flexibilidad de la imagen */
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
}

@media screen and (max-width: 768px) {
  .imagen {
    display: none; /* Oculta la imagen en pantallas más pequeñas que 768px */
  }
}
/*Fin de Formulario de Registro*/


/* Formulario de inicio de sesión */
.login-container {
  text-align: center; /* Alinea el contenido del contenedor al centro */
}

.contenedor-general-login {
  display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos secundarios */
  justify-content: space-between; /* Distribuye uniformemente los elementos secundarios a lo largo del eje principal */
  flex-direction: column; /* Establece la dirección de la disposición de los elementos secundarios como columna */
}

@media screen and (min-width: 768px) {
  .contenedor-general-login {
    display: flex;
    flex-direction: row; /* Cambia la dirección de la disposición de los elementos secundarios a fila en pantallas más grandes */
  }
}

.contenedor-izquierdo-login,
.contenedor-derecho-login {
  flex: 1; /* Divide el espacio disponible entre los contenedores izquierdo y derecho */
  padding: 10px; /* Agrega un espaciado interno */
  margin: 0 20px;
}

.contenedor-izquierdo-login {
  display: inline-block; /* Utiliza el modelo de caja flexible para organizar los elementos secundarios */
  justify-content: space-between; /* Distribuye uniformemente los elementos secundarios a lo largo del eje principal */
  flex-direction: row; /* Establece la dirección de la disposición de los elementos secundarios como columna */
  border-right: 1px solid #ccc; /* Agrega un borde derecho */
}

.contenedor-general-izquierdo {
  display:flex
}

.contenedor-izquierdo-1,
.contenedor-izquierdo-2 {
  text-align: left;
  flex: 1; /* Divide el espacio disponible entre los contenedores izquierdo y derecho */
  padding: 10px; /* Agrega un espaciado interno */
  margin: 0 20px;
}

.contenedor-izquierdo-1 {
  flex: 0 0 10%;
  margin-right: 10px;
}

.contenedor-izquierdo-2 {
  flex: 0 0 90%;
}

.contenedor-derecho-login {
  padding-left: 20px; /* Agrega un relleno izquierdo */
}

usuario{
  margin-bottom: 50px;
}

hr {
  border: none; /* Elimina el borde predeterminado */
  border-top: 1px solid #ccc; /* Agrega un borde superior */
}

.separador {
  margin-top: 10px; /* Agrega un margen superior */
  margin-bottom: 10px; /* Agrega un margen inferior */
}

/* Botones */
.botones {
  margin-top: 20px; /* Agrega un margen superior */
  justify-content: center;
}

.botones button {
  background-color: #555; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Agrega un radio de borde */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.botones button:hover {
  background-color: #777; /* Cambia el color de fondo al pasar el mouse */
}
/*Fin Formulario de inicio de sesión*/

/* Estilos para el modal Terminos y Condiciones */
.modal {
  display: none; /* Oculta el modal por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
/*Fin Estilos para el modal Terminos y Condiciones*/
